@mixin bold($fontsize) {
    font-family: 'bilo',sans-serif;
    font-weight: 700;
    font-size: $fontsize;
}
@mixin reguler($fontsize) {
    font-family: 'bilo',sans-serif;
    font-weight: 500;
    font-size: $fontsize;
}
@mixin light($fontsize) {
    font-family: 'bilo',sans-serif;
    font-weight: 400;
    font-size: $fontsize;
}

.en{
    @include reguler(16px);
    letter-spacing: 0.02rem;
    line-height: 1.5rem;
}

h1{
    @include bold(2em);
    letter-spacing: 0.05em;
}
h2{
    @include reguler(1.5em);
    letter-spacing: 0.06em;
}
