.anime{
    @include mq($breakpoint: tab){
        display: none;
    }
    &-item{
        position: absolute;
    }
    &-hero{
        &_line{
            &-01{
                width: 2px;
                height: 0%;
                background: $white;
                top: 25%;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}